[submodule "tests/printfTester"]
	path = tests/printfTester
	url = git@github.com:araggohnxd/printfTester.git
[submodule "tests/ft_printf_tester"]
	path = tests/ft_printf_tester
	url = git@github.com:araggohnxd/ft_printf_tester.git
